<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./main.css">
    <title>carousel</title>
</head>

<body>
    <div id="app">
        <div class="wrapper" @touchstart="Tstart" @touchmove="Tmove" @touchEnd="Tend">
            <div class="content">
                <transition-group :name="name" tag="div">
                    <div class="item" v-show="index === curIndex" v-for="(item,index) in  number" :key="index"  @transitionend="transitionend">{{item}}</div>
                </transition-group>
            </div>
            <div class="dot">
                <span :class="{active:index === curIndex}" v-for="(item,index) in  number" :key="index">{{item}}</span>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
 
</body>

</html>